.modal-body.scrolable-content {
    max-height: 400px;
}

.modal-footer {
    padding: 15px 23px 0px !important;
}

.window-popup .icon {
    padding-left: 6px !important;
}

.alert-dismissible .close {
    top: 10px !important;
    right: -13px !important;
}

.tab-pane .add-on {
    margin-bottom: 15px;
}

.additional-files {
    padding: 10px;
    display: grid;
}

.additional-files > a {
    padding: 5px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin-bottom: 5px;
}